.navText a {
    color:black;
    text-decoration: none;
    border-bottom: 2px solid black;
}
.navText a::before{
    content: "";
    height: 1px;
    width: 10px;
    left: 0px;
    top: 0px;
    background-color: yellow;
    color: red;
    font-weight: bold;
}